game-card:not(:first-child) {
    margin-left: -100px;
}

game-card:not(:last-child):hover {
    transform: translateY(-10px) translateX(-130px);
    transition: 0.4s ease-out;
}

game-card:hover~game-card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}


.card-player-stack {
    padding: 5em;
    gap: 3em;
    background-color: whitesmoke;
}

.palast-card {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgb(90 90 90) -1rem 0px 2rem;
    transition: 0.4s ease-out;
}

.palast-card:not(:first-child) {
    margin-left: -180px;
}

.palast-card:not(:last-child):hover {
    transform: translateY(-10px) translateX(-130px);
    transition: 0.4s ease-out;
}

.palast-card:last-child:hover {
    transform: translateY(-10px) translateX(-10px);
    transition: 0.4s ease-out;
}

.palast-card:hover~.palast-card {
    position: relative;
    left: 10px;
    transition: 0.4s ease-out;
}

.card-player-name-badge {
    border-radius: 100px;
    padding: 1em 5em;
    background-color: #363636;
    color: #e3dfdf;
    font-weight: bold;
    align-items: center;
}

.card-player-color-badge {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #e3dfdf;
}